{erl_opts, [no_debug_info,
	{i, "./src/include"}]}.


{deps, [
	certifi,
	cowboy,
	cowlib,
	d_core,
	hackney,
	idna,
	jsx,
	meck,
	metrics,
	mimerl,
	observer_cli,
	parse_trans,
	ranch,
	recon,
	ssl_verify_fun,
	unicode_util_compat
]}.


{shell, [
  % {config, "config/sys.config"},
    {apps, [start_server]}
]}.
